@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@keyframes waveToRight {
  0% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes waveToLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-15%);
  }
}
@keyframes moveLeft {
  0% {
    left: 50%;
    opacity: 0.6;
  }
  100% {
    left: 65%;
    opacity: 1;
  }
}
@keyframes moveRight {
  0% {
    left: 40%;
    opacity: 0.6;
  }
  100% {
    left: 35%;
    opacity: 1;
  }
}
@keyframes moveFromDown {
  0% {
    top: 13rem;
    opacity: 0;
  }
  100% {
    top: 10rem;
    opacity: 1;
  }
}
@keyframes rippleEffect {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(20);
    opacity: 0;
  }
}
@keyframes moon {
  0% {
    transform: translate(-50%, -50%) scale(1.4);
    top: 12rem;
    left: 50%;
    opacity: 0;
  }
  20% {
    top: 9rem;
  }
  30% {
    top: 10rem;
    opacity: 1;
  }
  60% {
    transform: translate(-50%, -50%) rotate(-10deg) scale(1.4);
  }
  90% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    top: 34%;
    left: 53.4%;
  }
}
@keyframes logo {
  0% {
    top: -200%;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    top: 40%;
    opacity: 1;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes starsFadeIn {
  0% {
    top: 0;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    top: 15%;
    opacity: 1;
  }
}
@keyframes boat-sail {
  to {
    offset-distance: 100%;
  }
}
:root {
  --surface-100: hsl(0, 18%, 96%);
  --primary-light: hsl(145, 48%, 52%);
  --primary: #389f6f;
  --primary-dark: #2a795f;
  --secondary: #d6290a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: hsl(145, 48%, 52%);
  color: hsl(0, 10%, 19%);
}

.button {
  padding: 1rem 2.6rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  color: hsl(0, 18%, 96%);
  font-family: "Noto Sans";
  font-weight: 600;
  transition: all 0.2s ease;
  z-index: 1000;
  text-transform: uppercase;
}
.button > .button--ripple {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  animation: rippleEffect 0.6s ease forwards;
}
.button > .content {
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.button--outlined {
  background-color: transparent;
  border: 1px solid currentColor;
}

.wave-container {
  height: 95vh;
  overflow: hidden;
  position: relative;
  transform: translateY(-95vh);
}

.wave {
  width: 200%;
  position: absolute;
  filter: drop-shadow(0 2rem 2 rem rgba(73.848, 191.352, 122.808, 0.3));
}
.wave--1 {
  top: 88%;
  fill: hsl(145, 48%, 52%);
  z-index: 200;
  animation: waveToLeft linear 30s infinite;
}
.wave--2 {
  top: 82%;
  fill: #389f6f;
  z-index: 100;
  animation: waveToRight linear 50s infinite;
}
.wave--3 {
  top: 75%;
  fill: #2a795f;
  z-index: 0;
  animation: waveToLeft linear 60s infinite;
  filter: drop-shadow(0 10rem 15rem rgba(42, 121, 95, 0.8));
}

.buttons-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  padding: 3rem;
  padding-right: 10rem;
  width: 100%;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.section-logo__container {
  height: 100vh;
  width: 100%;
  background-color: hsl(0, 11%, 7%);
  background-image: linear-gradient(to top, rgba(236.181, 227.919, 227.919, 0.2), transparent 55%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-logo {
  position: relative;
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: hsl(0, 18%, 96%);
  border-radius: 50%;
  animation: fadeIn 3s ease;
}
.star--1 {
  top: 45%;
  left: 25%;
}
.star--2 {
  top: 35%;
  left: 70%;
  width: 0.8rem;
  height: 0.8rem;
}
.star--3 {
  top: 45%;
  left: 75%;
  width: 5px;
  height: 5px;
}
.star--4 {
  top: 30%;
  left: 60%;
}
.star--5 {
  height: 5px;
  width: 5px;
  top: 40%;
  left: 30%;
}

.logo-wrapper {
  position: absolute;
  animation: logo cubic-bezier(0.49, 0.17, 0, 1) 5s;
  transform: translateY(-50%);
  top: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.logo-wrapper::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 40rem;
  left: 18%;
  bottom: 60%;
  background-color: hsl(27, 28%, 28%);
  z-index: 0;
}

.cta {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  top: 46%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  gap: 2rem;
}

.overview {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  line-height: 2.6rem;
  color: rgba(229.0665, 231.0555, 235.0335, 0.9);
  opacity: 0;
  animation: fadeIn 1s ease 2s forwards;
}

.btn--start {
  opacity: 0;
  animation: fadeIn 1s ease 2.8s forwards;
}

.logo {
  z-index: 100;
  position: relative;
  width: 30rem;
}

.moon-wrapper {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 34%;
  left: 53.4%;
  animation: moon cubic-bezier(0.93, -0.1, 0.39, 1.02) 3s;
  transform-origin: top center;
}
.moon-wrapper::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 42rem;
  left: 50%;
  top: -530%;
  background-color: hsl(27, 28%, 28%);
  z-index: 0;
}

.moon {
  position: relative;
  z-index: 100;
  transform-origin: 50% 50%;
  animation: spin cubic-bezier(0.93, -0.1, 0.39, 1.02) 2s;
  animation-delay: 1s;
  width: 7.5rem;
}

.cloud-wrapper {
  position: absolute;
  transform: translateX(-50%);
  filter: drop-shadow(0 2rem 4rem rgba(232, 226, 232, 0.2));
  display: inline-block;
}
.cloud-wrapper::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -50%;
  background-color: hsl(27, 28%, 28%);
  z-index: 0;
}
.cloud-wrapper--1 {
  top: 5rem;
  width: 15rem;
  left: 65%;
  animation: moveLeft cubic-bezier(0.93, -0.1, 0.39, 1.02) 1.2s;
}
.cloud-wrapper--1::after {
  left: 50%;
  top: -50%;
}
.cloud-wrapper--2 {
  top: 2rem;
  width: 35rem;
  left: 35%;
  animation: moveRight cubic-bezier(0.93, -0.1, 0.39, 1.02) 1.2s;
}
.cloud-wrapper--2::after {
  left: 50%;
  top: -10%;
}

.cloud {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 100;
}

.star-wrapper {
  position: absolute;
  opacity: 0;
  animation: starsFadeIn 1s ease forwards;
  pointer-events: none;
}
.star-wrapper::after {
  content: "";
  width: 0.5rem;
  position: absolute;
  background-color: hsl(27, 28%, 28%);
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 0;
}
.star-wrapper--1 {
  top: 10%;
  left: 15%;
}
.star-wrapper--1::after {
  height: 25rem;
  top: -90%;
}
.star-wrapper--2 {
  top: 20%;
  right: 20%;
}
.star-wrapper--2::after {
  height: 25rem;
  top: -90%;
}

.star__img {
  position: relative;
  max-height: 8rem;
  z-index: 100;
}
.star__img--1 {
  transform: rotate(10deg);
}
.star__img--2 {
  transform: rotate(-10deg);
}

.boats {
  position: absolute;
  height: 30rem;
  width: auto;
  bottom: 0;
  z-index: 10;
  offset-path: path("M0 100 Q150 50 300 100 T600 100 T900 100 T1200 100 T1500 100 T1800 100 T2000 100");
  offset-rotate: auto;
}
.boats--1 {
  animation: boat-sail 60s linear infinite reverse;
  bottom: 2rem;
  transform: scaleX(-1);
  height: 26rem;
}
.boats--2 {
  z-index: 100;
  bottom: -5%;
  animation: boat-sail 55s linear infinite;
}

.cloud-background {
  position: absolute;
  bottom: 10rem;
  background-color: rgba(236.181, 227.919, 227.919, 0.04);
  height: 30rem;
  width: 10rem;
  animation: fadeIn 1s ease;
}
.cloud-background--1 {
  left: 0;
  width: 15%;
  bottom: 5rem;
  border-top-right-radius: 50%;
}
.cloud-background--2 {
  bottom: 35%;
  left: 0;
  height: 7%;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.cloud-background--3 {
  left: 0;
  height: 15%;
  width: 25%;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.cloud-background--4 {
  right: 0;
  height: 35%;
  width: 15%;
  border-top-left-radius: 50%;
}
.cloud-background--5 {
  right: 0;
  height: 20%;
  width: 20%;
  border-top-left-radius: 50%;
}
.cloud-background--5 {
  right: 0;
  height: 20%;
  width: 20%;
  border-top-left-radius: 50%;
}
.cloud-background--6 {
  right: 18%;
  bottom: 30%;
  height: 5%;
  width: 8%;
  border-radius: 10rem;
}
.cloud-background--7 {
  right: 19%;
  bottom: 34%;
  height: 4%;
  border-radius: 10rem;
}

.section-1 {
  position: relative;
  height: 100vh;
  transform: translateY(-73vh);
  background-color: #41b073;
}

.wave-divider--1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-divider--1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 371px;
}

.wave-divider--1 .shape-fill {
  fill: #4abf7b;
}

/*# sourceMappingURL=style.css.map */
