.buttons-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  padding: 3rem;
  padding-right: 10rem;
  width: 100%;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.section-logo__container {
  height: 100vh;
  width: 100%;
  background-color: $surface-1000;
  background-image: linear-gradient(
    to top,
    rgba($surface-200, 0.2),
    transparent 55%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-logo {
  position: relative;
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: $surface-100;
  border-radius: 50%;
  animation: fadeIn 3s ease;

  &--1 {
    top: 45%;
    left: 25%;
  }

  &--2 {
    top: 35%;
    left: 70%;
    width: 0.8rem;
    height: 0.8rem;
  }

  &--3 {
    top: 45%;
    left: 75%;
    width: 5px;
    height: 5px;
  }

  &--4 {
    top: 30%;
    left: 60%;
  }

  &--5 {
    height: 5px;
    width: 5px;
    top: 40%;
    left: 30%;
  }
}

.logo-wrapper {
  position: relative;
  animation: logo cubic-bezier(0.49, 0.17, 0, 1) 5s;
  top: -5%;

  &::after {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 40rem;
    left: 18%;
    top: -170%;
    background-color: $rope-color;
    z-index: 0;
  }
}

.logo {
  z-index: 100;
  position: relative;
}

.moon-wrapper {
  position: absolute;
  transform: translateX(-50%);
  top: 34%;
  left: 54%;
  animation: moon cubic-bezier(0.93, -0.1, 0.39, 1.02) 3s;
  transform-origin: top center;

  &::after {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 42rem;
    left: 50%;
    top: -530%;
    background-color: $rope-color;
    z-index: 0;
  }
}

.moon {
  position: relative;
  z-index: 100;
  transform-origin: 50% 50%;
  animation: spin cubic-bezier(0.93, -0.1, 0.39, 1.02) 2s;
  animation-delay: 1s;
}

.cloud-wrapper {
  position: absolute;
  transform: translateX(-50%);
  filter: drop-shadow(0 2rem 4rem rgba(232, 226, 232, 0.2));
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -50%;
    background-color: $rope-color;
    z-index: 0;
  }

  &--1 {
    top: 5rem;
    width: 20rem;
    left: 65%;
    animation: moveLeft cubic-bezier(0.93, -0.1, 0.39, 1.02) 1.2s;

    &::after {
      left: 50%;
      top: -50%;
    }
  }

  &--2 {
    top: 2rem;
    width: 40rem;
    left: 35%;
    animation: moveRight cubic-bezier(0.93, -0.1, 0.39, 1.02) 1.2s;

    &::after {
      left: 50%;
      top: -10%;
    }
  }
}

.cloud {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 100;
}

.star-wrapper {
  position: absolute;
  opacity: 0;
  animation: starsFadeIn 1s ease forwards;
  pointer-events: none;

  &::after {
    content: "";
    width: 0.5rem;
    position: absolute;
    background-color: $rope-color;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 0;
  }

  &--1 {
    top: 10%;
    left: 15%;

    &::after {
      height: 25rem;
      top: -90%;
    }
  }
  &--2 {
    top: 20%;
    right: 20%;

    &::after {
      height: 25rem;
      top: -90%;
    }
  }
}

.star__img {
  position: relative;
  max-height: 8rem;
  z-index: 100;

  &--1 {
    transform: rotate(10deg);
  }

  &--2 {
    transform: rotate(-10deg);
  }
}

.boats {
  position: absolute;
  height: 30rem;
  bottom: 0;
  z-index: 10;

  offset-path: path(
    "M0 100 Q150 50 300 100 T600 100 T900 100 T1200 100 T1500 100 T1800 100 T2000 100"
  );
  offset-rotate: auto;

  &--1 {
    animation: boat-sail 60s linear infinite reverse;
    bottom: 2rem;
    transform: scaleX(-1);
  }

  &--2 {
    z-index: 100;
    bottom: -5%;
    animation: boat-sail 55s linear infinite;
  }
}

.cloud-background {
  position: absolute;
  bottom: 10rem;
  background-color: rgba($surface-200, 0.04);
  height: 30rem;
  width: 10rem;
  animation: fadeIn 1s ease;

  &--1 {
    left: 0;
    width: 15%;
    bottom: 5rem;
    border-top-right-radius: 50%;
  }

  &--2 {
    bottom: 35%;
    left: 0;
    height: 7%;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }

  &--3 {
    left: 0;
    height: 15%;
    width: 25%;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }

  &--4 {
    right: 0;
    height: 35%;
    width: 15%;
    border-top-left-radius: 50%;
  }

  &--5 {
    right: 0;
    height: 20%;
    width: 20%;
    border-top-left-radius: 50%;
  }

  &--5 {
    right: 0;
    height: 20%;
    width: 20%;
    border-top-left-radius: 50%;
  }

  &--6 {
    right: 18%;
    bottom: 30%;
    height: 5%;
    width: 8%;
    border-radius: 10rem;
  }

  &--7 {
    right: 19%;
    bottom: 34%;
    height: 4%;
    border-radius: 10rem;
  }
}

.section-1 {
  position: relative;
  height: 100vh;
  transform: translateY(-73vh);
  background-color: $primary-light-2;
}

//WAVE DIVIDERS SVG
.wave-divider--1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-divider--1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 371px;
}

.wave-divider--1 .shape-fill {
  fill: #4abf7b;
}
