@keyframes waveToRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes waveToLeft {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    left: 50%;
    opacity: 0.6;
  }

  100% {
    left: 65%;
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    left: 40%;
    opacity: 0.6;
  }

  100% {
    left: 35%;
    opacity: 1;
  }
}

@keyframes moveFromDown {
  0% {
    top: 13rem;
    opacity: 0;
  }

  100% {
    top: 10rem;
    opacity: 1;
  }
}

//EFFECTS

@keyframes rippleEffect {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(20);
    opacity: 0;
  }
}
