// COLORS

$surface-0: hsl(0, 18%, 100%);
$surface-50: hsl(0, 18%, 98%);
$surface-100: hsl(0, 18%, 96%);
$surface-200: hsl(0, 18%, 91%);
$surface-300: hsl(0, 18%, 84%);
$surface-400: hsl(0, 12%, 66%);
$surface-500: hsl(0, 12%, 51%);
$surface-600: hsl(0, 11%, 36%);
$surface-700: hsl(0, 11%, 28%);
$surface-800: hsl(0, 10%, 19%);
$surface-900: hsl(0, 11%, 15%);

$primary-light: hsl(145, 48%, 52%);
$primary: hsl(152, 48%, 42%);
$primary-dark: hsl(160, 48%, 32%);

$secondary-light: hsl(9, 91%, 54%);
$secondary: hsl(9, 91%, 44%);
$secondary-dark: hsl(9, 91%, 34%);

$tertiary-light: hsl(24, 48%, 52%);
$tertiary: hsl(24, 48%, 42%);
$tertiary-dark: hsl(24, 48%, 32%);
