:root {
  --surface-100: hsl(0, 18%, 96%);

  --primary-light: hsl(145, 48%, 52%);
  --primary: #389f6f;
  --primary-dark: #2a795f;
  --secondary: #d6290a;
}
// COLORS

$surface-0: hsl(0, 18%, 100%);
$surface-50: hsl(0, 18%, 98%);
$surface-100: hsl(0, 18%, 96%);
$surface-200: hsl(0, 18%, 91%);
$surface-300: hsl(0, 18%, 84%);
$surface-400: hsl(0, 12%, 66%);
$surface-500: hsl(0, 12%, 51%);
$surface-600: hsl(0, 11%, 36%);
$surface-700: hsl(0, 11%, 28%);
$surface-800: hsl(0, 10%, 19%);
$surface-900: hsl(0, 11%, 15%);
$surface-1000: hsl(0, 11%, 7%);

$primary-light: hsl(145, 48%, 52%);
$primary: #389f6f;
$primary-dark: #2a795f;

$secondary-light: rgb(244, 63, 31);
$secondary: #d6290a;
$secondary-dark: #a61f08;

$tertiary-light: #bf794a;
$tertiary: #9f6138;
$tertiary-dark: hsl(24, 48%, 32%);

// FONTS
$default-font-size: 1.4rem;
$default-font-family: "Noto Sans";
$font-poppins: "Poppins";
