// COLORS

$surface-0: hsl(0, 0%, 100%);
$surface-50: hsl(210, 20%, 98%);
$surface-100: hsl(220, 14%, 96%);
$surface-200: hsl(220, 13%, 91%);
$surface-300: hsl(216, 12%, 84%);
$surface-400: hsl(218, 11%, 65%);
$surface-500: hsl(220, 9%, 46%);
$surface-600: hsl(215, 14%, 34%);
$surface-700: hsl(217, 19%, 27%);
$surface-800: hsl(215, 28%, 17%);
$surface-900: hsl(221, 39%, 11%);
